body {
margin: 0;
background-color: #ececf3;
font-family: Arial, sans-serif;
color: #222222;
}

.page {
width: 760px;
margin: 40px auto;
background-color: white;
padding: 50px;
}

h1 {
    text-align: center;
}

#desc {
    text-align: center;
    font-weight: 700;
    color:rgb(156, 156, 226)
}

#CV {
    text-align: center;
    text-decoration: none;
}

.photo {
text-align: center;
}

.photo img {
width: 320px;
}

.info {
width: 620px;
margin: 40px auto 0 auto;
}
